.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font: 110%/1 'Dosis', sans-serif;
  background-color: #f98512;
}

body {
  width: 40rem;
  height: auto;
  padding: 0;
  margin: 3rem auto;
  text-align: center;
  line-height: 1.25;
  color: white;
  background-color: #13a1f9;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-skip: ink;
}

h1, h2, p, a, input, button, ol, ul {
  transition: all .2s linear; 
}

@media screen and (min-width: 40rem) {
  html {
    font-size: 120%;
  }
  h1, h2, p, a, input, button, ol, ul {
    transition: all .2s linear; 
  }
}

@media screen and (min-width: 51rem) {
  html {
    font-size: 125%;
    line-height: 1.5;
  }
  h1, h2, p, a, input, button, ol, ul {
    transition: all .2s linear; 
  }
}